.door__js {
  width: 100%;
  display: block; }
  .door__js .interiero {
    width: 29%;
    height: 433px;
    border: 1px solid #C8C8C8;
    margin: 0 7px 0 0;
    background-color: #F0F0F0;
    position: relative;
    overflow: hidden;
    display: inline-block; }
    .door__js .interiero #fabHead {
      display: block;
      background: #ff7e00 none repeat scroll 0 0;
      color: #fff;
      padding: 10px;
      font-weight: 700;
      font-size: 21px;
      text-align: center; }
    .door__js .interiero #intWarp {
      height: 430px;
      overflow-y: scroll; }
      .door__js .interiero #intWarp .uploadInter {
        max-height: 100px;
        width: 120px;
        margin: 8px 3px 4px 8px;
        cursor: pointer; }
    .door__js .interiero #fabAdd {
      display: block;
      background: #00ba23 none repeat scroll 0 0;
      color: #fff;
      padding: 10px;
      font-weight: 700;
      font-size: 21px;
      text-align: center;
      height: 69px;
      padding-right: 170px;
      padding-top: 4px;
      line-height: 29px; }
  .door__js .blockz {
    width: 69%;
    height: 433px;
    border: 1px solid #C8C8C8;
    margin: 0;
    background-color: #F0F0F0;
    position: relative;
    overflow: hidden;
    display: inline-block; }
    .door__js .blockz .confa {
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 250px;
      background: rgba(255, 255, 255, 0.82);
      top: 0;
      left: -250px;
      display: none; }
    .door__js .blockz .closeImg {
      position: absolute;
      display: inline-block;
      height: auto;
      width: 30px;
      top: 10px;
      right: 10px; }
      .door__js .blockz .closeImg:hover {
        cursor: pointer;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: ease-in-out 0.25s; }
    .door__js .blockz .confaImg {
      position: absolute;
      display: none;
      height: auto;
      width: 50px;
      top: 10px;
      left: 10px; }
      .door__js .blockz .confaImg:hover {
        cursor: pointer;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: ease-in-out 0.25s; }
    .door__js .blockz .optTop {
      display: inline-block;
      height: 50px;
      width: 100%;
      display: inline-block;
      height: 50px;
      width: 100%;
      padding: 15px;
      font-size: 15px;
      color: #00ba23;
      font-weight: 700;
      border-bottom: 1px dotted green; }
    .door__js .blockz .fon {
      background: url(/interior/images/interier/28.jpg);
      background-size: contain;
      height: 100%;
      width: 100%;
      position: absolute; }
    .door__js .blockz .container_door {
      background-size: 100% 100% !important;
      width: 170px;
      height: 370px;
      left: 250px;
      top: 30px; }
      .door__js .blockz .container_door:hover .reset,
      .door__js .blockz .container_door:hover .ui-icon {
        opacity: 1; }
      .door__js .blockz .container_door .reset {
        background: url(/interior/images/clear.png);
        position: relative;
        top: 50%;
        left: 0;
        width: 45px;
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: 0.4s; }
      .door__js .blockz .container_door .ui-icon {
        width: 26px;
        height: 26px;
        background-size: contain !important;
        margin-top: 0;
        background-repeat: no-repeat !important;
        opacity: 0;
        transition: 0.4s; }
        .door__js .blockz .container_door .ui-icon.ui-icon-arrowrefresh-1-s {
          background: url(images/rotate.png);
          right: 0 !important;
          top: 0 !important; }
        .door__js .blockz .container_door .ui-icon.ui-icon-arrow-2-e-w {
          background: url(images/skew_h.png);
          left: 42% !important;
          top: 0 !important; }
        .door__js .blockz .container_door .ui-icon.ui-icon-search {
          background: url(images/zoom.png);
          left: 0 !important;
          top: 0 !important; }
        .door__js .blockz .container_door .ui-icon.ui-icon-arrow-2-n-s {
          background: url(images/skew_v.png);
          right: 0 !important; }
        .door__js .blockz .container_door .ui-icon.ui-icon-gripsmall-diagonal-se {
          background: url(images/resize.png); }

#fabHead {
  display: block;
  background: #ff7e00 none repeat scroll 0 0;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  font-size: 21px;
  text-align: center; }

.fabinfo {
  display: block;
  background: #fff none repeat scroll 0 0;
  color: #ff7500;
  padding: 15px 18px 19px;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  width: 90%;
  margin: auto;
  border: 3px dashed #ff7500; }

center {
  position: relative;
  width: 100%;
  padding-top: 10px; }
  center #existingImges {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 230px;
    white-space: nowrap; }
    center #existingImges .uploadImage {
      max-height: 200px;
      margin-right: 20px;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
